{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
            <div class="form-group">
                <label for="{{ i.id_for_label }}">{{ i.label }}</label>
                {{ i.errors }}
                {{ i.help_text }}
                <input type="{{ i.field.widget.input_type }}"
                       class="form-control form-control-user"
                       name="{{ i.name }}"
                       id="{{ i.auto_id }}"
                       placeholder="{{ i.name.upper }}"
                        {% if i.field.widget.is_required %}
                       required
                        {% endif %}
                       maxlength="{{ i.field.max_length }}"
                >
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Change my password
            </button>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
