{% extends 'base.html' %}

{% block title %}
    Create an account
{% endblock %}

{% block content %}
    <h1>Create an account</h1>
    <p>Please, sign up using the following form：</p>
    <form action="." method="post" novalidate>
        {% csrf_token %}
        {% for i in user_form %}
            {{ i.errors }}
            <div class="form-group">
                <label for="{{ i.id_for_label }}">{{ i.label }}</label>
                {{ i.errors }}
                {{ i.help_text }}
                <input type="{{ i.field.widget.input_type }}"
                       class="form-control form-control-user"
                       name="{{ i.name }}"
                       id="{{ i.auto_id }}"
                       placeholder="{{ i.name.upper }}"
                        {% if i.field.widget.is_required %}
                       required
                        {% endif %}
                       maxlength="{{ i.field.max_length }}"
                >
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Register
        </button>
    </form>
{% endblock %}
